.form-group-lg{
    width: 50%;
}

.container{
 background-image: url(/src/assets/images/k.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-color: paleturquoise; 
 background-position: left;
 width: 100%;
 /* display: flex;
 flex-direction: row; */
}
