<app-nav></app-nav>

<h1 class="title text-center">Task Planner</h1>
<br />
<br />
<br />
<section>
  <div class="container-fluid">
    <div class="quote text-center">
      <p class="content">
        <strong
          ><i>
            Planning is the process of deciding in detail how to do something
            before you actually start to do it. <br />
            Planning starts after dreams, needs, desires and ideas take birth in
            life. Having a list of one's plans is critical to deve<br />
            lopment especially at the personal level.
          </i></strong
        >
      </p>
      <br />
      <br />
    </div>
  </div>
  <br>
  <!-- <app-login></app-login> -->
  <br />
  <app-task></app-task>
  <app-footer></app-footer>
</section>
